:root{
    --dark-mode-main-bg: #121212;
    --dark-mode-text: #FFFFFF;
    --dark-mode-primary: #FF98EE;
    --dark-mode-secondary: #232329;
    --dark-mode-accent: #AC68A0;

    --light-mode-primary:#fd9ce8;
    --light-mode-secondary:#feafed;
    --light-mode-accent:#fec1f1;
    --light-mode2-primary:#a865fc;
    --light-mode2-secondary:#c37fef;
    --light-mode2-accent:#daa5ea;

    /* javascript vars */

    --centerX: 0px;
    --offsetX: 0px;
}

body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: rgb(253,156,232);
    background: radial-gradient(circle, rgba(253,156,232,1) 0%, rgba(254,175,237,1) 30%, rgba(254,193,241,1) 60%, rgba(218,165,234,1) 80%, rgba(195,127,239,1) 90%, rgba(168,101,252,1) 100%);
    margin: 0px;
}
#box {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    max-height: 0%;
    transform: scale3d(0.25, 0.25, 0.25);
}

#sanrio{
    transform: rotateX(0deg) rotateY(15deg) rotateZ(-10deg) 
    translate3d(-2000px,-100px, 0px);
}

#kuromi{
    transform: rotateX(0deg) rotateY(-20deg) rotateZ(20deg) 
    translate3d(2050px,-2000px, 0px);
}

#sage{
    transform: rotateX(0deg) rotateY(-10deg) rotateZ(-20deg) 
    translate3d(3400px,-200px, 0px) scale3d(2, 2, 2);
}

.outer-nav{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.nav-box{
    display: grid; 
    text-align: center;
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "button-1 button-1"
      "button-2 button-2"
      "button-2 button-2"
      "button-2 button-2"
      "button-2 button-2"
      "button-2 button-2";
    background-color: #FFFFFF;
    width: 750px;
    height: 800px;
    border-radius: 20px;
    border: solid var(--light-mode2-primary);
    color: var(--light-mode2-secondary);
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    user-select: none;
}
  
.button-1 { 
    grid-area: button-1;
    display: flex;
    justify-content: center;
    font-size: x-large;
    color: #FFFFFF;
    background-color: var(--light-mode2-primary);
    border-radius: 15px 15px 0px 0px;
}

.survey-page {
    display: none;
}

.visible {
    display: block;
}

.button-2 { 
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    padding-top: 10px;
    transition: all 500ms;
}
.button-3 { 
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-4 { 
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-5 { 
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-6 {
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-7 {
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-8 {
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-9 {
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-10 {
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.button-11 {
    grid-area: button-2;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: large;
    margin: 10px;
    padding-left: 10px;
    transition: all 500ms;
}
.wrapper{
    width: inherit;
    height: inherit;
    text-decoration: none;
}
.button-2 input[type="checkbox"]{
    padding-right: 100px;
}

.page-button {
    background: var(--light-mode2-primary);
    background-image: -webkit-linear-gradient(top, var(--light-mode2-primary), var(--light-mode2-secondary));
    background-image: -moz-linear-gradient(top, var(--light-mode2-primary), var(--light-mode2-secondary));
    background-image: -ms-linear-gradient(top, var(--light-mode2-primary), var(--light-mode2-secondary));
    background-image: -o-linear-gradient(top, var(--light-mode2-primary), var(--light-mode2-secondary));
    background-image: linear-gradient(to bottom, var(--light-mode2-primary), var(--light-mode2-secondary));
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .page-button:hover {
    background: var(--light-mode2-primary);
    background-image: -webkit-linear-gradient(top, var(--light-mode2-secondary), var(--light-mode2-primary));
    background-image: -moz-linear-gradient(top, var(--light-mode2-secondary), var(--light-mode2-primary));
    background-image: -ms-linear-gradient(top, var(--light-mode2-secondary), var(--light-mode2-primary));
    background-image: -o-linear-gradient(top, var(--light-mode2-secondary), var(--light-mode2-primary));
    background-image: linear-gradient(to bottom, var(--light-mode2-secondary), var(--light-mode2-primary));
    text-decoration: none;
  }
